<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">chainAngular</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav btn-group-justified">
          <li><button class="btn btn-navbar btn-default" ng-click="controller.newGameClicked()">New Game</button></li>
          <li><button class="btn btn-navbar btn-default" ng-click="controller.saveGameClicked()">Save Game</button></li>
          <li><button class="btn btn-navbar btn-default" ng-click="controller.loadGameClicked()">Load Game</button></li>
          <li><button class="btn btn-navbar btn-warning" ng-click="controller.deleteGameClicked()">Delete Game</button></li>
          <li><a ng-href="#/">Preferences</a>
              <preferences-component></preferences-component>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
